<!DOCTYPE html>
<html>
<head>
  <title>StripeSales</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  link
</head>
<body>
<% flash.each do |type, msg| %>
  <%= content_tag :p, msg, class: type %>
<% end %>
<%= yield %>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</html>
